
* {
    font-family: 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}






/* Variables
----------------------------- */

:root {

    --dark: #0d0f12;
    --light: #ddedff;

    --button-outline: rgba(13,15,18, .1);
    --button-outline-focus: rgba(13,15,18, .5);

    --button-outline-dark: rgba(221,237,255, .1);
    --button-outline-dark-focus: rgba(221,237,255, .5);

    --page-margin: 22px;
    --link-margin-offset: 6px;

}



body {
    line-height: 1.5;
    padding-bottom: 10em;
    font-weight: 400;
    margin: 0;
    background:  #fff;
    color: var(--dark);
    padding-top: 5.03125em; /* headroom */
    transition: background .3s; /* light mode */
}

[light-mode="dark"] {
    background: var(--dark);
    color: var(--light);
}

a {
    color: var(--dark);
    text-decoration: none;
}

[light-mode="dark"] a {
    color: var(--light);
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 2em;
    font-weight: 400;

    font-size: 1.5em;
    /*border-bottom:  1px solid #111;*/
    /*font-weight: 600;*/
}

button {
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



.ui-border {
    border:  1px solid rgba(13,15,18, .1);
}

.ui-border:hover {
    border-color: rgba(13,15,18, .5);
}

[light-mode="dark"] .ui-border {
    border-color: rgba(221,237,255, .1);
}

[light-mode="dark"] .ui-border:hover {
    border-color: rgba(221,237,255, .5);
}



/* Page Margins
----------------------------- */

@media only screen and (min-width: 500px) {
    :root {
       --page-margin: 28px;
    }
}

@media only screen and (min-width: 740px) {   
    :root {
       --page-margin: 36px;
    }
}

@media only screen and (min-width: 1100px) {
    :root {
       --page-margin: 48px;
    }
}

@media only screen and (min-width: 1600px) {
    :root {
       --page-margin: 68px;
    }
}





/* Headroom
----------------------------- */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}






/* Site Header
----------------------------- */

#site-header {
    width: 100%;
    position: fixed; /* headroom */
    z-index: 10; 
    top: 0; 
    background: 0;
}

#site-header-container {
    width:  100%;
    height:  100%;
    transition: background .3s;
    background: rgba(255,255,255, .97);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

[light-mode="dark"] #site-header-container{
    background: rgba(13,15,18, .97);
}

#main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:  var(--page-margin);
}

#site-header a {
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    padding:  2px 6px;
}


@media only screen and (min-width: 1800px) {
    #site-header {
        font-size: 108%;
    }

    #site-header-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}


/* Site Title
----------------------------- */

#site-title {
    padding: 8px;
    margin-left: calc(var(--page-margin) - var(--link-margin-offset));  
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .875em;
    transition: opacity .2s;
}

#site-title:hover {
    opacity: .5;
}





/* Site Header Nav
----------------------------- */

#site-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0 .75em 0 0;
    display: inline-block;
}

#site-header nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}


/* Current Menu Item
----------------------------- */

.current-menu-item a {
    opacity: .3;
    /*border-bottom: 1px solid var(--dark);*/
    /*border:  1px solid var(--dark);*/
}





/* Icon Buttons
----------------------------- */

#light-mode-button,
#fullscreen-button {
    display: flex;
    /*width: 31px;
    height: 31px;*/

    width: 32px;
    height: 32px;

    margin: 0;
    padding: 0;
    border-radius: 50%;
    margin-left: .75em;
    background: 0;
    transition: border .3s;
    /*border:  0;*/
    /*border:  1px solid #eee;*/
    /*border: 1px solid rgba(0, 0, 0, .1);   */
    /*background: #eee;*/
}

#light-mode-button svg:nth-child(2) {
    display: none;
}

[light-mode="dark"] #light-mode-button svg:nth-child(2) {
    display: inline-block;
}

[light-mode="dark"] #light-mode-button svg:nth-child(1) {
    display: none;
}

#site-header svg {
    width: 100%;
    height: 100%;
    fill: var(--dark);
    display: inline-block;
}

[light-mode="dark"] #site-header svg {
    fill: var(--light);
}

#fullscreen-button,
#fullscreen-button svg:nth-child(2) {
    display: none;
}

[fullscreen-supported] #fullscreen-button {
    display: inline-block;
}

[fullscreen] #fullscreen-button svg:nth-child(1) {
    display: none;
}

[fullscreen] #fullscreen-button svg:nth-child(2) {
    display: inline-block;
}





/* Mobile Menu Button
----------------------------- */

#mobile-menu-button {
    width:  64px;
    height:  31px;
    background: 0;
    border:  0;
    box-sizing: border-box;
    position: fixed;
    top: 22px;
    right: 12px;
    border-radius: 20px;
    transition: transform .3s;
    border: 1px solid rgba(0, 0, 0, 0);   
}

[light-mode="dark"] #mobile-menu-button div {
    background: var(--light);
}

#mobile-menu-button:hover {
    transform: scale(1.1);
}

#mobile-menu-button div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background: var(--dark);
    transition: .3s;
    top: 12px;
}

#mobile-menu-button div:nth-child(1) {
    left: 14px;
}

#mobile-menu-button div:nth-child(2) {
    left: 29px;
}

#mobile-menu-button div:nth-child(3) {
    left: 44px;
}

[mobile-menu] #mobile-menu-button div:nth-child(1),
[mobile-menu] #mobile-menu-button div:nth-child(3) {
    left: 30px;
}

[mobile-menu] #mobile-menu-button div {
    opacity: 0;
}


@media only screen and (min-width: 740px) {
    #mobile-menu-button {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    #site-header nav ul {
        display: none;
    }
    #main-menu {
        margin-right: 90px;
    }
}




/* Page Header
----------------------------- */

.page-header-1 {
    padding: 0 var(--page-margin);
    padding-top: 1em;
}

.page-header-1 p {
    font-size: 1.3em;
    /*font-size: 1.5em;*/
    max-width: 600px;
    /*max-width: 420px;*/
}


@media only screen and (min-width: 540px) {

    .page-header-1 {
        padding-top:  2em;
    }

    .page-header-1 p {
        font-size: 1.65em;
        max-width: 580px;
    }
}


@media only screen and (min-width: 840px) {

    .page-header-1 {
        padding-top:  3em;
    }

    .page-header-1 p {
        font-size: 1.75em;
        max-width: 740px;
    }
}






/* Section
----------------------------- */

section {
    margin-top: 4em;
    padding:  2em 0;
}

section h2 {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 2em;
    display: inline-block;
    margin-left: var(--page-margin);
}






/* Section Link
----------------------------- */

.section-link a {
    
    padding:  10px 18px;
    border:  1px solid var(--button-outline);
    border-radius: 30px;
    margin-top: 3em;
    margin-bottom: 1em;
    display: inline-block;
    font-size: 1.125em;
    transition: border .3s;
    /*border-bottom: 2px dashed var(--button-outline);*/

    margin-left: var(--page-margin);

}

.section-link a:hover {
    border:  1px solid var(--button-outline-focus);
}

.section-link a::before {
    content: '-> ';
}




/* Grid
----------------------------- */

.grid {
    padding: 0 var(--page-margin);
    margin: 0 auto;
    display: grid;
    grid-gap:26px;
    grid-template-columns: repeat(1,1fr); 
}

@media only screen and (min-width: 840px) {
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media only screen and (min-width: 2000px) {
    .grid {
        font-size: 108%;
    }
}

@media only screen and (min-width: 2200px) {
    .grid {
        grid-gap:32px;
    }
}

@media only screen and (min-width: 2400px) {
    .grid {
        grid-gap:38px;
    }
}


.grid h3 {
    font-size: 1.125em;
    font-weight: 400;
    margin-bottom: .5em;
    display: inline-block;
}

.grid p {
    font-size: .938em;
    margin-top: 0;
    padding-right: 1.5em;
    max-width: 540px;
    margin-bottom: 2em;
}

.grid img {
     border-radius: 8px; 
}

.grid a img {
    transition: transform .3s;
}

.grid a img:hover {
    transform: scale(1.02);
}

.grid a h3 {
    /*transition: opacity .3s;*/

    transition: .15s;

    /*border-bottom: 1px solid #ccc;*/
}

.grid a h3:hover {
    opacity:  .5;
}

/*.grid a h3:hover::after {
    content: ' -> ';
}*/


/*.grid a h3::before {
    content: ' -> ';
}

.grid a h3:hover {
    padding-left: .5em;
}*/




/* Animations
----------------------------- */

.fade-on-off-screen {
    opacity: 0;
    transform: translateY(45px);
    transition: transform 0.6s, opacity 0.9s;
}

.fade-on-in-view {
    opacity: 1;
    transform: translateY(0);
}











/* Social Menu
----------------------------- */

.social-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.social-menu li {
    display: inline-block;
    margin: 1em 0;
}
    
.social-menu a {

    display: inline-block;
    height: 38px;
    width: 38px;
    padding: .25em;
    /*overflow: hidden;*/
    transition: transform .3s;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 50%;
}
    
.social-menu svg {
    width: 100%;
    height: 100%;
    fill: var(--dark);
}
    
.social-menu a:hover {
    transform: scale(1.25);
}

[light-mode="dark"] .social-menu svg  {
    fill: var(--light);
}






























/* Mobile Menu Background
----------------------------- */

#mobile-menu-background {
    height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: var(--dark);
    position: fixed;
    top: 0;
    left: 0;   
    z-index: 20;
    color:  #fff;
    height: 100%;
    width:  100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}



/* Close Menu Button
----------------------------- */

#close-menu-button {
    position: fixed;
    /*top: 18px;
    right: 30px;*/

    top: 15px;
    /*right: 17px;*/
    right: 18px;

    height: 48px;
    width: 48px;
    background: 0;
    border-radius: 50%;
    /*border:  1px solid var(--light);*/
    border:  1px solid rgba(0, 0, 0, 0);
    padding: 3px;
    transform: scale(0);
    transition: transform .3s;


}

#close-menu-button svg {
    fill: var(--light);
}

[mobile-menu] #close-menu-button {
    transform: scale(1);
    pointer-events: auto;
}



/* Mobile Menu Title Link
----------------------------- */

#mobile-menu nav > a {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2em;
    font-size: .875em;
    opacity: 0;
    transition: opacity .6s;
}


[mobile-menu] #mobile-menu nav > a {
    opacity: 1;
}


[mobile-menu] #mobile-menu nav > a:hover {
    opacity: .5;
}


/* Mobile Menu 
----------------------------- */

[mobile-menu] #mobile-menu-background {
    pointer-events: auto;
    opacity: 1;
}

#mobile-menu {
    height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    
    color:  var(--light);

    height: 100%;
    width:  100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;

    opacity: 0;
    pointer-events: none;

}

[mobile-menu] #mobile-menu {
    opacity: 1;
}

[mobile-menu] #mobile-menu nav {
    overflow-y: scroll;
    padding:  2em 0;
    pointer-events: auto;
}

#mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    
}

@media only screen and (min-width: 500px) {
    #mobile-menu ul {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 1000px) {
    #mobile-menu ul {
        font-size: 3.5em;
    }
}

[mobile-menu] #mobile-menu a {
    pointer-events: auto;
}

#mobile-menu a {
    color:  var(--light);
    /*border:  1px solid #eee;*/
    padding:  0 .5em;
    border-radius: 2em;
    display: inline-block;
    margin:  .1em 0;
    transition: transform .3s;
}


#mobile-menu ul a:hover {
    transform: scale(1.1);
}


#mobile-menu li {
    transform: translate(0px, 50px);
    opacity: 0;
}

[mobile-menu] #mobile-menu li:nth-child(1) {
    transition: transform .3s ease-out;
    transform: translateY(0);
    opacity: 1;
}
    
[mobile-menu] #mobile-menu li:nth-child(2) {
    transition: transform .35s ease-out;
    transform: translateY(0);
    opacity: 1;
}
    
[mobile-menu] #mobile-menu li:nth-child(3) {
    transition: transform .4s ease-out;
    transform: translateY(0);
    opacity: 1;
}
    
[mobile-menu] #mobile-menu li:nth-child(4) {
    transition: transform .45s ease-out;
    transform: translateY(0);
    opacity: 1;
}
    
[mobile-menu] #mobile-menu li:nth-child(5) {
    transition: transform .5s ease-out;
    transform: translateY(0);
    opacity: 1;
}


/*a.mobile-menu-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}*/






