
/* General Layout
--------------------------------------- */

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
  /*font: 100%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font: 100%/1.6 Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 30rem) {
  html { font-size: 85%; }
}

body {
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

img {
  width: auto;
  height: auto;
  margin: 0; 
  max-width: 100%;
} 

/* Contain Elements;*/

h1,h2,h3,p,ul,ol {
  max-width: 47.000rem; 
  margin: 0 auto; width: 85%;
}


.container {
  margin:0 auto;
  width: 85%;
  max-width: 50em;
}


main {
  margin-top: 3em;
}

blockquote{
  font-style: italic;
  margin: 0;
}


hr {
  border: 0;
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  margin: 2em 0;
  overflow: hidden;
}

.big {
	max-width: 1000px;
	padding: 0;
	width: 85%;
	font-size: 55px;
	line-height: 1.2em;
	padding: .8em 0;
}


.black {
	background-color: #333;
	color: #ddd;
	padding: 2em 0;
}


/* Typography
--------------------------------------- */


h1,h2,h3 { font-weight:normal; line-height: 1.3em; }
h1 			 { font-size:2.750em;  margin:4.000rem auto 1.250rem auto;}
h2   		 { font-size:2.125em;  margin:2.750rem auto 0.313rem auto;}
p  			 { font-size:1.250em;  margin:1.625rem auto 2.250rem auto;}
header p { font-size:1.500em;  margin:1.625rem auto 2.250rem auto;}



/* Links
--------------------------------------- */

a {
  text-decoration: none;
  color: #357cc1;
}

a:hover {
  text-decoration: none;
  color: #5f91c1;
}

a.current {
  color: #444;
}

a img {
  border: 0;
}

a.current {
  color: #222;
}
